body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("signin.jpg");
  
    /* Control the height of the image */
    min-height: 400px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  /* Add styles to the form container */
  #container {
    position:relative;
    right: 0;
    /* margin: 20px; */
    margin-top: 150px;
    max-width: 400px;
    padding: 16px;
    margin-left: 400px;
    background-color:transparent;
    background-clip: border-box;
    border: 2px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(20px);
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background:none;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color:none;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }